@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: #000;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

/* Hero Section */ 
#hero {
    background-image: url(./img/hero-bg.png); 
    background-size: cover;
    background-position: center ;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1; 
}

#hero .hero {
    max-width: 1200px;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
} 
#hero h1:nth-child(2) {
    animation-delay: 2s;
} 
#hero h1:nth-child(3) {
    animation: text-reveal-name ease forwards;
    animation-delay: 3s;
} 

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text-reveal-box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: white;
    background-color: crimson;
}
/* End Hero Section */

/* Service Section */

#services .service {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    margin: 100px 300px;
}

#services .service-top p {
    text-align: start;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    background-image: url(/img/img-1.png);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    margin: 10px 5%;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.service-item::after {
    content: '';
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: .6;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

#services .service-item p {
    color: #fff;
    text-align: left;
}

.service-bottom .service-item:hover h2 p{
    transform: scale(1.05);
}

/* End Service Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c, #485563 100%);
    color: #fff;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: #fff;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c, #485563 100%);
    opacity: .6;
}

#projects .project-img img {
    transition: .3s ease transform;
    
}

#projects .project-items:hover {
    cursor: pointer;
}

#projects .project-items:hover .project-img img {
    transform: scale(1.1);
}
/* End Projects Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 350px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: #000;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 20px;
}

#about .col-left .about-img{
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
}

#about .col-left .about-img::after {
content: '';
position: absolute;
border: 7px solid crimson;
left: -33px;
top: 19px;
height: 98%;
width: 98%;
z-index: -1;
}


/* End About Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

#contact .contact-items {
    width: 400px;
}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0 #000;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 10px 0 #000;
    cursor: pointer;
}

.contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .project-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .project-info h2{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}
/* End Contact Section */

/* Footer Section */
#footer {
    background-image: linear-gradient(60deg, #29323c, #485563 100%);
}
#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: crimson;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .05rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img{
    filter: grayscale(0);
}

#footer p {
    color: #fff;
    font-size: 1.3rem;
}

/* End Footer Section */



/* Keyframes for #HERO-section */ 
@keyframes text-reveal-box {
    50% {
        width: 100%;
        left: 0%;
        background-color: pink;
    }
   
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text-reveal{
100% {
    color: white;
}
}

@keyframes text-reveal-name{
    100% {
        color: crimson;
    }
    }
/* End Keyframes #HERO*/ 